<div class="row">
	<div class="large-12 columns">
    	<div ng-controller="HomeCtrl">
<input type="text" ng-model="nameFilter" />
<div class="small-12 columns">
    <a href="changeOrder('name')" class="button secondary small">Order by name</a>
    <a href="changeOrder('company')" class="button secondary small">Order by company</a>
    <a href="changeOrder('email')" class="button secondary small">order by email</a>
</div>

<ul class="grid" masonry="true">
    <li ng-repeat="contact in contacts | filter:{name:nameFilter} | orderBy: order">
        <h4>{{contact.name}}</h4>
        <p>{{contact.company}}</p>
        <a href="#contacts_detail/{{contact.$id}}">Details</a>
    </li>
</ul>
        </div>
	</div>
</div>
